body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

form {
  // display: flex;
  // flex-direction: column;
  // border: 1px solid black;
}

button {
  padding: 0.5rem;
  margin: 1rem;
}

.blogs {
  margin: 1rem;
}

.addperson-form {
  margin: 1rem;
}

.bookmarks-form {
  margin: 1rem;
}

.bookmarks-list {
  margin: 1rem;
}

.new-contact__form {
  margin: 1rem;
}

.contacts-list {
  margin: 1rem;
}
